[submodule "module/bhook"]
	path = module/bhook
	url = https://github.com/coolceph/bhook.git
[submodule "module/googletest"]
	path = module/googletest
	url = https://github.com/coolceph/googletest.git
