# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Mac DS_Store
*.DS_Store

#VIM swp
*.swp

#automake
AUTHORS
ChangeLog
INSTALL
NEWS
README
COPYING

#Ctags
tags

#Python
*.pyc

#configure & make
Makefile
Makefile.in
build-aux
autom4te.cache/
config.guess
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.dirstamp
.Tpo
*.m4
compile


#gtest
src/gtest/build-aux/config.h
src/gtest/build-aux/config.h.in
src/gtest/lib/
src/gtest/scripts/gtest-config
src/gtest/src/.dirstamp
src/gtest/Makefile.in
src/gtest/aclocal.m4
src/gtest/configure
src/gtest/Makefile
src/gtest/config.log
src/gtest/config.status
src/gtest/libtool
src/gtest/samples/.deps/sample1.Plo
src/gtest/samples/.deps/sample1_unittest.Po
src/gtest/samples/.deps/sample2.Plo
src/gtest/samples/.deps/sample4.Plo
src/unittest_*
src/test-suite.log
test-driver

#bin
src/cceph_osd
src/tmp_client

#other
data
